<!doctype html>

<html lang="en">
<head>
  <title>Heroes of empires</title>

  <meta charset="utf-8">
  <meta name="description" content="HTML5 KMOOC course homework">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm heroes-container" id="hero">
        <h2>Heroes</h2>
        <button type="button" class="btn btn-primary add-new" v-on:click="prepareItem()" data-toggle="modal" data-target="#modal">add new</button>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">name</th>
              <th scope="col">description</th>
              <th scope="col">actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in items">
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <button type="button" class="btn btn-light" v-on:click="prepareItem(item.id, item.name, item.description)" data-toggle="modal" data-target="#modal">update</button>
                <button type="button" class="btn btn-light" v-on:click="deleteById(item.id)">delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm species-container" id="species">
        <h2>Species</h2>
        <button type="button" class="btn btn-primary add-new" v-on:click="prepareItem()" data-toggle="modal" data-target="#modal">add new</button>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">name</th>
              <th scope="col">description</th>
              <th scope="col">actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in items">
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <button type="button" class="btn btn-light" v-on:click="prepareItem(item.id, item.name, item.description)" data-toggle="modal" data-target="#modal">update</button>
                <button type="button" class="btn btn-light" v-on:click="deleteById(item.id)">delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" v-model="name" class="form-control" id="name" placeholder="name">
            </div>
            <div class="form-group">
              <label for="desc">Description</label>
              <input type="text" v-model="desc" class="form-control" id="desc" placeholder="desc">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="send">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="js/main.js"></script>
</body>
</html>
